nav {
  display: flex;
  width: 100%;
  background-color: aqua;
  justify-content: center;
  ul {
    list-style: none;
    display: flex;
    gap: 50px;
    a {
      text-decoration: none;
      color: grey;
    }
  }
}