:root {
    --color-primary: #FFBC2D;
    --color-secondary: #039BE5;
    --color-alternative: #FF3D3D;
    --color-dark: #1e1e1e;
}

html {
    scroll-behavior: smooth;
}

li,
p {
    word-wrap: break-word;
}
ol,
ul {
    padding: 0 0 0 2.284em;
}
ul {
    list-style: square;
}
details,
figure > img,
main,
summary {
    display: block;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-alternative);
    transition: 0.30s;
    -webkit-transition: 0.30s;
    -moz-transition: 0.30s;
    -ms-transition: 0.30s;
    -o-transition: 0.30s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 2px;
    line-height: 1.5em;
}
h1 {
    font-size: 2em;
    margin: 0 0 0.571em;
}
h2 {
    font-size: 1.714em;
    margin: 0.666em 0;
}
h3 {
    font-size: 1.428em;
    margin: 0.7em 0;
}
h4 {
    font-size: 1.285em;
    margin: 0.888em 0;
}
h5 {
    font-size: 1.142em;
    margin: 1em 0;
}
h6 {
    font-size: 1em;
    margin: 1.142em 0;
}


body {
    margin: 0;
    padding-top: 75px;
    background: #1e1e1e;
    color: #aeaeae;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Fredoka', sans-serif;
    /* font-size: 18px; */
    line-height: 1.714em;
    min-height: 100vh;
    position: relative;
    scrollbar-color: #eee #222831;
    scrollbar-width: 5px;
}

nav {
    overflow: hidden;
    padding: 15px 0 15px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav li {
    display: inline-flex;
    padding: 0 5px 0 5px;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
}

nav div {
    display: flex;
    width: 20%;
    align-items: center;
}

nav div img {
    width: 35px;
}

footer {
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-weight: bold;
    background-color: var(--color-primary);
}

footer a {
    color: var(--color-primary);
}

/* Classes */

.container {
    width: auto;
    /* background-color: #222831; */
    margin: 0 14% 0 14%;
}

.glass {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 5px 5px 5px rgba(42, 55, 68, 0.1);
}

.menu {
    transform: scale(0);
    flex-direction: column;
    height: 30px;
    justify-content: space-between;
    position: absolute;
    right: 0;
    cursor: pointer;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.menu input {
    position: absolute;
    width: 35px;
    height: 40px;
    top: -10px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu span {
    display: block;
    width:30px;
    height: 3px;
    background-color: var(--color-primary);
    transition: all 0.75s;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -ms-transition: all 0.75s;
    -o-transition: all 0.75s;
}

.menu span:nth-child(2) {
    transform-origin: 0 0;
}

.menu span:last-child {
    transform-origin: 0 0;
}

.menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(5px, 1px);
    -webkit-transform: rotate(45deg) translate(5px, 1px);
    -moz-transform: rotate(45deg) translate(5px, 1px);
    -ms-transform: rotate(45deg) translate(5px, 1px);
    -o-transform: rotate(45deg) translate(5px, 1px);
}

.menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(1px, 0);
    -webkit-transform: rotate(-45deg) translate(1px, 0);
    -moz-transform: rotate(-45deg) translate(1px, 0);
    -ms-transform: rotate(-45deg) translate(1px, 0);
    -o-transform: rotate(-45deg) translate(1px, 0);
}

.menu input:checked ~ span:nth-child(3) {
    opacity: 0;
}

/* ID s */
#short {
    min-height: 70vh;
}

#short figure {
    margin: 0;
    background-color: #222831;
    background-image: url("/assets/img/camera-walpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
    opacity: 0.6;
}

#content {
    background-color: var(--color-dark);
    margin: 0 12% 10px 12%;
    padding: 2%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Media Queries */

/* Laptop */
@media screen and (max-width: 1080) {
    
}

/* Mobile */
@media screen and (max-width: 576px) {
    
}

/* Tablet */
@media screen and (max-width: 768px) {
    nav {
        justify-content: space-between;
        padding: 10px 10px 10px 10px;
    }

    nav ul {
        display: none;
    }

    .menu {
        display: flex;
    }

    .container {
        margin: 10%;
    }
}